body {
    font-family: 'sans-serif', sans-serif;
}
.navbar-brand {
    font-size: 1.7rem;
}
.icon {
    margin: auto;
}
.nav-link {
    font-size: 1em;
    font-family: 'adobe-caslon-pro', sans-serif;
    letter-spacing: 0.2em;
}
.line {
    border: none;
    height: 0.2rem;
    background-color: black
}
.autor-text {
    letter-spacing: 0.02rem;
    line-height: 2.5rem;
}
.vago {
    font
}
@media (max-width: 450px) {
    .header { 
        font-size: 2.2rem; 
        }
    
    }
@media (max-width: 450px) {
    h2 { 
    font-size: 1.2rem; 
    }
        
    }
@media (max-width: 450px) {
    .monumentos-text { 
    font-size: 1.2rem; 
    }
            
    }
.card-text{
    font-size: 1.1rem;
} 
.btn {
    font-family: 'Cabin', sans-serif;
    font-weight: 700;
}
.carousel-indicators {
    top: 50px;
}
.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
a {
    text-decoration: none;
    color: inherit;
}